{# =============================================================================
   TEMPLATE MIGRATION EXAMPLES
   
   This file shows before/after examples of how to migrate hardcoded values
   in Jinja templates to use podspec variables from site-vars.yaml.
   
   All values are accessed via: {{ podspec.variable_name }}
   ============================================================================= #}


{# -----------------------------------------------------------------------------
   EXAMPLE 1: structured-data.j2
   ----------------------------------------------------------------------------- #}

{# BEFORE (hardcoded): #}
<title>{{ doc.titles.navigation|striptags }} - amp-new</title>

{# AFTER (from podspec): #}
<title>{{ doc.titles.navigation|striptags }} - {{ podspec.site_name }}</title>


{# BEFORE (hardcoded JSON-LD): #}
<script type="application/ld+json">
{
  "@type": "Organization",
  "name": "AMP Project",
  "url": "https://amp-new.netlify.app",
  "sameAs": [
    "https://twitter.com/AMPhtml",
    "https://www.youtube.com/channel/UCXPBsjgKKG2HqsKBhWA4uQw"
  ]
}
</script>

{# AFTER (from podspec): #}
<script type="application/ld+json">
{
  "@type": "Organization",
  "name": "{{ podspec.site_name }}",
  "url": "{{ podspec.site_url }}",
  "sameAs": [
    "{{ podspec.social.twitter.url }}",
    "{{ podspec.social.youtube.url }}"
  ]
}
</script>


{# -----------------------------------------------------------------------------
   EXAMPLE 2: header.j2
   ----------------------------------------------------------------------------- #}

{# BEFORE (hardcoded): #}
<a href="/" class="ap-o-header-home" aria-label="Startpage">
  <span class="ap-o-header-home-title">AMP</span>
</a>

<a href="https://blog.amp.dev" class="ap-m-nav-link">
  Blog
</a>

{# AFTER (from podspec): #}
<a href="/" class="ap-o-header-home" aria-label="Startpage">
  <span class="ap-o-header-home-title">{{ podspec.site_id|upper }}</span>
</a>

<a href="{{ podspec.blog_url }}" class="ap-m-nav-link">
  Blog
</a>


{# -----------------------------------------------------------------------------
   EXAMPLE 3: footer.j2
   ----------------------------------------------------------------------------- #}

{# BEFORE (hardcoded): #}
<div class="ap-o-footer-social">
  <a href="https://twitter.com/AMPhtml" target="_blank" rel="noopener">
    {% do doc.icons.useIcon('/icons/twitter.svg') %}
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg>
  </a>
  <a href="https://www.youtube.com/channel/UCXPBsjgKKG2HqsKBhWA4uQw" target="_blank" rel="noopener">
    {% do doc.icons.useIcon('/icons/youtube.svg') %}
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use></svg>
  </a>
  <a href="https://github.com/ampproject" target="_blank" rel="noopener">
    {% do doc.icons.useIcon('/icons/github.svg') %}
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github"></use></svg>
  </a>
</div>

<div class="ap-o-footer-copyright">
  © {{ now.year }} OpenJS Foundation and AMP Project
</div>

{# AFTER (from podspec): #}
<div class="ap-o-footer-social">
  <a href="{{ podspec.social.twitter.url }}" target="_blank" rel="noopener">
    {% do doc.icons.useIcon('/icons/twitter.svg') %}
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg>
  </a>
  <a href="{{ podspec.social.youtube.url }}" target="_blank" rel="noopener">
    {% do doc.icons.useIcon('/icons/youtube.svg') %}
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use></svg>
  </a>
  <a href="{{ podspec.social.github.org_url }}" target="_blank" rel="noopener">
    {% do doc.icons.useIcon('/icons/github.svg') %}
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github"></use></svg>
  </a>
</div>

<div class="ap-o-footer-copyright">
  © {{ now.year }} {{ podspec.copyright_holder }}
</div>


{# -----------------------------------------------------------------------------
   EXAMPLE 4: analytics.j2
   ----------------------------------------------------------------------------- #}

{# This one likely already works correctly since it uses podspec.gaTrackingId #}
{# Just ensure the value flows through from site-vars.yaml #}

<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
  {
    "vars": {
      "gtag_id": "{{ podspec.gaTrackingId }}",
      "config": {
        "{{ podspec.gaTrackingId }}": {
          "groups": "default"
        }
      }
    }
  }
  </script>
</amp-analytics>


{# -----------------------------------------------------------------------------
   EXAMPLE 5: Using conditionals for site-specific content
   ----------------------------------------------------------------------------- #}

{# If certain content should only appear on specific site variants: #}

{% if podspec.site_id == 'amp-new' %}
  {# AMP-specific promotional content #}
  <div class="promo-banner">
    Check out our latest AMP components!
  </div>
{% elif podspec.site_id == 'wabc' %}
  {# WABC-specific content #}
  <div class="promo-banner">
    Welcome to WABC documentation
  </div>
{% endif %}


{# -----------------------------------------------------------------------------
   EXAMPLE 6: Building URLs dynamically
   ----------------------------------------------------------------------------- #}

{# For "Edit this page" links: #}
<a href="{{ podspec.docs_base_url }}{{ doc.pod_path }}" target="_blank">
  Edit this page on GitHub
</a>

{# For sitemap/canonical URLs: #}
<link rel="canonical" href="{{ podspec.site_url }}{{ doc.url.path }}">


{# -----------------------------------------------------------------------------
   VARIABLE REFERENCE
   
   Available podspec variables (from site-vars.yaml via buildGrowPodSpec):
   
   Identity:
     {{ podspec.site_id }}           -> "amp-new"
     {{ podspec.site_name }}         -> "AMP Project"
     {{ podspec.site_description }}  -> "The AMP Project website..."
     {{ podspec.publisher_name }}    -> "AMP Project"
     {{ podspec.copyright_holder }}  -> "OpenJS Foundation and AMP Project"
   
   URLs:
     {{ podspec.base_url }}          -> Current environment's base URL
     {{ podspec.site_url }}          -> "https://amp-new.netlify.app"
     {{ podspec.blog_url }}          -> "https://blog.amp.dev"
     {{ podspec.playground_url }}    -> "https://playground-amp-new.netlify.app"
     {{ podspec.site_domain }}       -> "amp-new.netlify.app" (no protocol)
   
   Repository:
     {{ podspec.repo_org }}          -> "AFDSI"
     {{ podspec.repo_name }}         -> "amp-dev-22"
     {{ podspec.repo_url }}          -> "https://github.com/AFDSI/amp-dev-22"
     {{ podspec.docs_base_url }}     -> "https://github.com/.../blob/future/docs/"
   
   Analytics:
     {{ podspec.gaTrackingId }}      -> "G-1HFVWLN28T"
   
   Social (nested):
     {{ podspec.social.twitter.handle }}   -> "@AMPhtml"
     {{ podspec.social.twitter.url }}      -> "https://twitter.com/AMPhtml"
     {{ podspec.social.youtube.url }}      -> "https://www.youtube.com/channel/..."
     {{ podspec.social.github.org_url }}   -> "https://github.com/ampproject"
     {{ podspec.social.github.issues_url }} -> "https://github.com/.../issues"
     {{ podspec.social.stackoverflow.url }} -> "https://stackoverflow.com/..."
   
   CDN:
     {{ podspec.cdn.amp_runtime }}   -> "https://cdn.ampproject.org"
     {{ podspec.cdn.amp_js }}        -> "https://cdn.ampproject.org/v0.js"
   
   Build:
     {{ podspec.build_version }}     -> "22.0.0"
     {{ podspec.build_time }}        -> ISO timestamp
   
   ----------------------------------------------------------------------------- #}
