{% do doc.styles.addCssFile('css/components/organisms/filter-bubbles-list.css') %}
{% do doc.styles.addCssFile('css/components/atoms/pill.css') %}

<div class="ap-o-filter-bubbles-list">
  {# "All" button - shows all categories #}
  <button class="ap-a-pill filtered"
      [class]="category == '' ? 'ap-a-pill filtered' : 'ap-a-pill'"
      on="tap:AMP.setState({ category: '' })"
      name="all">
    {{ _('All') }}
  </button>
  {% for cat, components in categories %}
  {% set scope = namespace(categoryFormats = []) %}
    {% for component in components %}
      {% set formats = component.formats or ['websites'] %}
      {% set scope.categoryFormats = scope.categoryFormats + formats %}
    {% endfor %}
  {% if cat %}
  {% set category_name = cat.split('.')[1] if cat and cat.split('.')|length == 2 else cat %}
  {# Category button - hidden if no components in this category support the current format #}
  <button class="ap-a-pill"
      [class]="category == '{{ category_name|slug }}' ? 'ap-a-pill filtered' : 'ap-a-pill'"
      [hidden]="!{{ scope.categoryFormats|unique|list|tojson }}.includes(format)"
      on="tap:AMP.setState({ category: '{{ category_name|slug }}' })"
      name="{{ _(category_name) }}">
    {{ _(category_name) }}
  </button>
  {% endif %}
  {% endfor %}
</div>
